@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Section -->
<div class="jumbotron text-center mb-0">
    <div class="container">
        <h1 class="display-4">HealthyMe</h1>
        <p class="lead">Track. Transform. Thrive.</p>
        <p class="lead">Your Journey to a Balanced Lifestyle</p>
    </div>
</div>
<!-- Hero Image Section -->
<section class="hero-section">
    <div class="hero-image">
        <!-- Your hero image goes here -->
    </div>
    <div class="hero-content">
        <h2>About Our Nutrition Website</h2>
        <p>
            Our website is dedicated to providing you with the tools and resources you need to make informed
            decisions about your nutrition. With a focus on tracking calories and macros, we help you achieve your
            health and fitness goals.
        </p>
    </div>
</section>

<section class="gallery-block grid-gallery">
    <div class="container">
        <div class="heading">
            <h1 class="home-gallery-heading heading2">
                Explore Our Nutrition Blog
            </h1>
            <span class="home-gallery-sub-heading">
                Discover the world of healthy eating through our curated
                collection of images
            </span>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" asp-area="" asp-action="Index" asp-controller="Blog">
                    <img class="img-fluid image scale-on-hover" src="~/assets/gridimage1.jpeg">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" asp-area="" asp-action="Index" asp-controller="Blog">
                    <img class="img-fluid image scale-on-hover" asp-area="" asp-action="Index" asp-controller="Blog" src="~/assets/gridimage2.jpeg">
                </a>
                
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" asp-area="" asp-action="Index" asp-controller="Blog">
                    <img class="img-fluid image scale-on-hover" src="~/assets/gridimage3.jpeg">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" asp-area="" asp-action="Index" asp-controller="Blog">
                    <img class="img-fluid image scale-on-hover" src="~/assets/gridimage4.jpeg">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" asp-area="" asp-action="Index" asp-controller="Blog">
                    <img class="img-fluid image scale-on-hover" src="~/assets/gridimage5.jpeg">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" asp-area="" asp-action="Index" asp-controller="Blog">
                    <img class="img-fluid image scale-on-hover" src="~/assets/gridimage6.jpeg">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" asp-area="" asp-action="Index" asp-controller="Blog">
                    <img class="img-fluid image scale-on-hover" src="~/assets/gridimage7.jpeg">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" asp-area="" asp-action="Index" asp-controller="Blog">
                    <img class="img-fluid image scale-on-hover" src="~/assets/gridimage8.jpeg">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" asp-area="" asp-action="Index" asp-controller="Blog">
                    <img class="img-fluid image scale-on-hover" src="~/assets/gridimage9.jpeg">
                </a>
            </div>
        </div>
    </div>
</section>

<div class="hero-section2">
    <div class="container">
        <div class="hero-content2">
            <h1 class="display-4">Track Your Calorie Intake</h1>
            <p class="lead">Stay on top of your nutrition goals with our calorie tracker.</p>
            <a class="btn btn-primary bg-success btn-lg" asp-area="" asp-action="Index" asp-controller="CalorieTracker" role="button">Learn more</a>
        </div>
    </div>
</div>

<section>
    <div class="container faq pt-5 pb-5">

        <div class="row">
            <div class="col-md-6 col-lg-4 item">
                <div class="heading">
                    <p>FAQ</p>
                    <h1>
                        Common questions
                    </h1>
                    <span class="home-gallery-sub-heading">
                        Here are some of the most common questions that we get.
                    </span>
                </div>
            </div>
            <div class="col">
                <div class="Faqdetails">
                    <p><b>What is the purpose of this website?</b></p>
                    <p>
                        The purpose of this website is to provide information and resources for nutrition and help
                        users track their calorie and macro intake
                    </p>
                </div>
                <div class="Faqdetails">
                    <p><b>How can I track my calorie and macro intake?</b></p>
                    <p>
                        You can track your calorie and macro intake by using our calorie tracker page. Simply input
                        the foods and quantities you consume, and the tracker will calculate your total calorie and
                        macro intake.
                    </p>
                </div>
                <div class="Faqdetails">
                    <p><b>What is BMI?</b></p>
                    <p>
                        BMI stands for Body Mass Index. It is a measurement that uses your height and weight to
                        determine if you are underweight, normal weight, overweight, or obese.
                    </p>
                </div>


            </div>
        </div>

    </div>
    </div>
</section>


