@{
    ViewData["Title"] = "Blog Page";
}
<div class="container faq pt-5 pb-5 mt-5">

    <div class="row">
        <div class="col pt-5">
            <div class="col pt-5">
                <a class="lightbox" href="#">
                    <img class="img-fluid image scale-on-hover" src="~/assets/gridimage1.jpeg">
                </a>
            </div>
        </div>
        <div class="col pb-5 mb-5">
            <div class="Faqdetails">
                <h1><b>Lemon-Facts</b></h1>
                <p>
                    The lemon (Citrus × limon) is a species of small evergreen tree in the flowering plant family
                    Rutaceae, native to Asia, primarily Northeast India (Assam), Northern Myanmar, or China.

                    The tree's ellipsoidal yellow fruit is used for culinary and non-culinary purposes
                    throughout the world, primarily for its juice, which has both culinary and cleaning uses.
                    The pulp and rind are also used in cooking and baking. The juice of the lemon is about 5-6%
                    citric acid,with a pH of around, giving it a sour taste. The
                    distinctive sour taste of lemon juice, derived from the citric acid, makes it a key
                    ingredient in drinks and foods such as lemonade and lemon meringue pie.<br><br>
                    1.Lemons are native to Asia. <br>
                    2.Lemons are a hybrid between a sour orange and a citron.<br>
                    3.Lemons are rich in vitamin C.<br>
                    4.Lemons trees can produce up to 600lbs of lemons every year.<br>
                    5.Lemon trees produce fruit all year round.<br>
                    6.Lemon zest, grated rinds, is often used in baking.<br>
                    7.Lemon tree leaves can be used to make tea.<br>
                    8.The high acidity of lemons make them good cleaning aids.<br>
                    9.California and Arizona produces most of the United States lemon crop.<br>
                    10.The most common types of lemons are the Meyer, Eureka, and Lisbon lemons.
                </p>
            </div>



        </div>
    </div>
